name: Conda

on:
  pull_request:
  push:
    branches: ["main", "master"]
jobs:
  conda-test:
    name: Conda Install & Test
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9"]
        platform: ["ubuntu-latest", "windows-latest"]

    runs-on: ${{ matrix.platform }}
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v3
      - uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: ${{ matrix.python-version }}
          environment-file: environment.yml
          activate-environment: eis_toolkit
          auto-activate-base: false
          mamba-version: "*"
          channel-priority: true
      - name: Print conda environment
        run: |
          # Print environment
          conda info
          conda list
          python --version
      - name: Run unit tests
        run: |
          # Test package import
          python -c 'import eis_toolkit'
          # Run unittests with pytest
          pytest -v
